<!DOCTYPE html>
<!--
TEMPLATE
Name: Zoo Planet
Version: 1.0
Created: 23 January 2014

AUTHOR
Design and code by: http://www.bootshape.com
Free stock photos by: http://www.bootshape.com

Read full license: http://www.bootshape.com/license.php

CREDITS
Background: http://subtlepatterns.com/ (extra_clean_paper)
Fonts: http://www.google.com/fonts (Actor, Duru_Sans)

SUPPORT
E-mail: bootshape.com@gmail.com
Contact: http://www.bootshape.com/contact.php
-->
<html>
  <head>
    <title>Movie Trivia!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/stylesheets/zoo-planet/html/css/bootstrap.css" rel="stylesheet">
    
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Duru+Sans|Actor' rel='stylesheet' type='text/css'>
    
    <!--Bootshape-->
    <link href="/stylesheets/zoo-planet/html/css/bootshape.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="green">Movie</span> Trivia!</a>
        </div>
        <nav role="navigation" class="collapse navbar-collapse navbar-right">
          <ul class="navbar-nav nav">
          
            <li><a href="#">Home</a></li>
            <li class="dropdown">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
                <!-- 
                <li><a href="#">Item 3</a></li>
                <li class="divider"></li>
                <li><a href="#">All Items</a></li>
                -->
              </ul>
            </li>
            
            <!--
            <li><a href="#">Special Offers</a></li>
            <li><a href="#">License</a></li>
            -->
            
            <li><a href="/contacts">Contacts</a></li><form method="get" action="http://www.bing.com/search">

<input type="hidden" name="cp" value="CODE PAGE USED BY YOUR HTML PAGE" />

<input type="hidden" name="FORM" value="FREEWS" />

<table bgcolor="#FFFFFF">

<tr>

  <td>

   <a href="http://www.bing.com/">

   <img src="http://www.bing.com/siteowner/s/siteowner/Logo_51x19_Dark.png" border="0" ALT="bing" />

   </a>

  </td>

  <td>

   <input type="text" name="q" size="30" />

   <input type="submit" value="Search Web" />

  </td>

</tr>

</table>

</form>

            
            
          </ul>
        </nav>
      </div>
    </div><!-- End Navigation bar -->
	
    <!-- Slide gallery -->
    <div class="jumbotron">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="/stylesheets/zoo-planet/html/img/dracula.jpg" alt="">
            <div class="carousel-caption">
            
            </div>
          </div>
          <div class="item">
            <img src="/stylesheets/zoo-planet/html/img/inception.jpg" alt="">
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item">
            <img src="/stylesheets/zoo-planet/html/img/jurassic" alt="">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div><!-- End Slide gallery -->
    <h3 class="text-center">Movie Trivia Game!</h3>
    <!-- Thumbnails -->
    <div class="container thumbs">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/stylesheets/16.gif" alt="" class="img-circle">
          <div class="caption">
            
            
            <div class="btn-toolbar text-center">
              <a href="/login" role="button" class="btn btn-success">Log In</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/stylesheets/2.gif" alt="" class="img-circle">
          <div class="caption">
            
            
            <div class="btn-toolbar text-center">
              <a href="/signup" role="button" class="btn btn-success">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/stylesheets/4.gif" alt="" class="img-circle">
          <div class="caption">
            
            
            <div class="btn-toolbar text-center">
              <a href="/contacts" role="button" class="btn btn-success">Contacts</a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Thumbnails -->
    
    <!-- Footer -->
    <div class="footer text-center">
       <!-- <p>&copy; 2014 Zoo Planet. All Rights Reserved. Proudly created by <a class="green" href="http://bootshape.com">Bootshape.com</a></p> -->
    </div><!-- End Footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- // <script src="https://code.jquery.com/jquery.js"></script> -->
    <script src="/stylesheets/zoo-planet/html/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/stylesheets/zoo-planet/html/js/bootstrap.min.js"></script>
    <script src="/stylesheets/zoo-planet/html/js/bootshape.js"></script>
  </body>
</html>