<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    
    <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">GAME</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/">Home</a></li>
	        <li><a href="/login">LOG IN</a></li>
	        <li><a href="/output">Take quiz</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
    
    <form method="get" action="/login">
    <p>
	<button type="submit" class="btn btn-warning btn-lg">Play Game</button>
	</p>
	</form>
    
  </body>
</html>
