<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>    
  
    <p><%= result %></p>
  
    <form method="get" action="/login">
 
	<p><input type="radio", name = "1">1</input></p>
	<p><input type="radio", name = "2">2</input></p>
	<p><input type="radio", name = "3">3</input></p>
	<p><input type="radio", name = "4">4</input></p>
	
	<p><button type="submit" class="btn btn-warning btn-lg">Submit</button></p>
	
	</form>
	
  </body>
</html>
