<!DOCTYPE html>
<!--
TEMPLATE
Name: Zoo Planet
Version: 1.0
Created: 23 January 2014

AUTHOR
Design and code by: http://www.bootshape.com
Free stock photos by: http://www.bootshape.com

Read full license: http://www.bootshape.com/license.php

CREDITS
Background: http://subtlepatterns.com/ (extra_clean_paper)
Fonts: http://www.google.com/fonts (Actor, Duru_Sans)

SUPPORT
E-mail: bootshape.com@gmail.com
Contact: http://www.bootshape.com/contact.php
-->
<html>
  <head>
    <title>Movie Trivia!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/stylesheets/zoo-planet/html/css/bootstrap.css" rel="stylesheet">
    
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Duru+Sans|Actor' rel='stylesheet' type='text/css'>
    
    <!--Bootshape-->
    <link href="/stylesheets/zoo-planet/html/css/bootshape.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    
    <style>
        body        { padding-top:80px; }
    </style>
    
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/profile"><span class="green">Movie</span> Trivia!</a>
        </div>
        <nav role="navigation" class="collapse navbar-collapse navbar-right">
          <ul class="navbar-nav nav">
            <li><a href="/">Home</a></li>
            
             <li><a href="/contacts">Contacts</a></li>
            <li><a href="/game">Play Game</a></li>
            <li><a href="/logout">Log Out</a></li>
            
            
        
            
            
            
            <form method="get" action="http://www.bing.com/search">

<input type="hidden" name="cp" value="CODE PAGE USED BY YOUR HTML PAGE" />

<input type="hidden" name="FORM" value="FREEWS" />

<table bgcolor="#FFFFFF">

<tr>

  <td>

   <a href="http://www.bing.com/">

   <img src="http://www.bing.com/siteowner/s/siteowner/Logo_51x19_Dark.png" border="0" ALT="bing" />

   </a>

  </td>

  <td>

   <input type="text" name="q" size="30" />

   <input type="submit" value="Search Web" />

  </td>

</tr>

</table>

</form>
            
          </ul>
          
        </nav>
      </div>
    </div><!-- End Navigation bar -->

    
    <h1 class="text-center">Welcome! <%= user.local.email %> </h1>
    
    <h2 class="text-center">Think you're a movie buff? You've got 15 questions to prove yourself. May the force be with you.</h2>
    <form method="get" action="/game">
	
	<div style="text-align:center">
   	<p><button type="submit" class="btn btn-primary" style="height:100px;width:200px"><font size="5">Play Game</font></button></p>
	</div>
	</form>
    
    <!-- Footer -->
    <div class="footer text-center">
      <!--  <p>&copy; 2014 Zoo Planet. All Rights Reserved. Proudly created by <a class="green" href="http://bootshape.com">Bootshape.com</a></p> -->
    </div><!-- End Footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- // <script src="https://code.jquery.com/jquery.js"></script> -->
    <script src="/stylesheets/zoo-planet/html/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/stylesheets/zoo-planet/html/js/bootstrap.min.js"></script>
    <script src="/stylesheets/zoo-planet/html/js/bootshape.js"></script>
  </body>
</html>