<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Score</p>
    
    
    
    <form method="get" action="/">
   	<input type="Go Back to Home Page">
   	<input type="submit">
	</form>
	
  </body>
</html>
