<!DOCTYPE html>

<html>
  <head>
    <title>Score!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/stylesheets/zoo-planet/html/css/bootstrap.css" rel="stylesheet">
    
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Duru+Sans|Actor' rel='stylesheet' type='text/css'>
    
    <!--Bootshape-->
    <link href="/stylesheets/zoo-planet/html/css/bootshape.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <style>
        body        { padding-top:80px; }
    </style>
    
    
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/profile"><span class="green">Movie</span> Trivia!</a>
        </div>
        
        <nav role="navigation" class="collapse navbar-collapse navbar-right">
          <ul class="navbar-nav nav">
            <li><a href="/profile">Home</a></li>

            <li><a href="/contacts">Contacts</a></li>
            
          </ul>
        </nav>
        
      </div>
    </div><!-- End Navigation bar -->

 <div style="text-align:center">
    <h1>YOUR SCORE: <%= finalScore%> OUT OF <%= totalNumberOfQuestions%></h1>
    <form method="get" action="/game">
    <p><button type="submit" class="btn btn-primary">Play Again</button></p>
    </form>
</div>

<!--

    <form method="get" action="/profile">
	

   <p><button type="submit" class="btn btn-warning btn-lg">Go back to Profile page</button></p>

	</form>
	
	<form method="get" action="/">

   <button type="submit" class="btn btn-warning btn-lg">Go back to Home page</button>

	</form>
 
 	-->
 
    <!-- Footer -->
    <div class="footer text-center">
       <!-- <p>&copy; All Rights Reserved. Proudly created by <a class="green" href="http://bootshape.com">Bootshape.com</a></p> -->
    </div><!-- End Footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- // <script src="https://code.jquery.com/jquery.js"></script> -->
    <script src="/stylesheets/zoo-planet/html/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/stylesheets/zoo-planet/html/js/bootstrap.min.js"></script>
    <script src="/stylesheets/zoo-planet/html/js/bootshape.js"></script>
  </body>
</html>